.pre {
  font-family: monospace;
  border: 1px solid;
  border-radius: 3px;
  padding: 3px
}
.wrapper{
  margin:0;
  padding: 0;
}
html, body{
  margin: 0;
  padding: 0;
}

.section{
  color: white;
  width: 100%;
  padding: 3em 10em;
  z-index: 99;
}
.sticky {
  /*min-height: 100vh;
  max-height: 100vh;
  height: 100vh;*/
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  z-index: 9;
}

.section--s1 {
  background: #333;
  top: 0px;
  height: 400px;
}
.section--s2 {
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
  background: #666;
  top: 80px;
  max-height: calc(100vh - 80px)
}
